$primary: #090e27;
$secondary: #111933;
$clear: #6abcff;
$font: #EEEEEE;

* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, Tahoma, Arial;
}

.navbar {
    background: $secondary;
    box-shadow: black 0 0 4px;
    .navbar-brand {
        color: $font;
        font-family: Ubuntu;
        font-weight: bold;
        font-size: 28px;
    }
        .nav-item {
            color: $font;
            font-weight: bold;
            padding-inline: 8px;
            margin-right: 10px;
            .nav-link {
                color: $font;
                    &:hover {
                        color: $clear;
                        transition: 200ms;
                    }
        }
        }
        .dropdown-menu {
            background: #141c39;
            border-radius: 0 0 5px 5px;
            .dropdown-item {
                color: $font;
                &:hover {
                    background: $clear;
                    font-weight: bold;
                    transition: 200ms;
                }
            }
            .dropdown-divider {
                background: $secondary;
            }
        }
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }
    .navbar-toggler{
      border: 2px solid white;
    }
    .navbar-toggler:focus{
      box-shadow: none;
    }

    body {
        background: $primary;
    }
    