* {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, Tahoma, Arial;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #5ca1da;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6abcff;
}

.navbar {
  background: #18181C;
  box-shadow: black 0 0 4px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 77;
}
.navbar .container-fluid img {
  margin-left: 9px;
  margin-right: 9px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: 300ms;
}
.navbar .container-fluid img:hover {
  scale: 103%;
  transition: 300ms;
}
.navbar .navbar-brand {
  left: 0;
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #E4E4E4;
  transition: 300ms;
}
.navbar .navbar-brand:hover {
  letter-spacing: 1.8px;
  transition: 300ms;
}
.navbar .nav-item {
  color: #EEEEEE;
  font-weight: bold;
  margin-right: 10px;
}
.navbar .nav-item .nav-link {
  color: #EEEEEE;
  text-transform: uppercase;
  transition: 200ms;
}
.navbar .nav-item .nav-link:hover {
  color: #6abcff;
  transition: 200ms;
}
.navbar .dropdown-menu {
  background: #18181C;
  border-radius: 0 0 10px 10px;
  margin-top: 26px;
}
.navbar .dropdown-menu .dropdown-item {
  color: #EEEEEE;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background: #6abcff;
  font-weight: bold;
  transition: 200ms;
}
.navbar .dropdown-menu .dropdown-divider {
  background: #6abcff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: 2px solid white;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.dropdown-toggle[aria-expanded="true"]:after {
  transform: rotate(180deg);
}

.dropdown-toggle:after {
  transition: 0.4s;
}

.destaque {
  margin-top: 105px;
  padding-left: 50px;
}
.destaque h2 {
  font-size: 28px;
  color: #EEEEEE;
}

#carouselExampleCaptions {
  margin-top: 10px;
  border-radius: 17px;
}

.carousel-indicators [data-bs-target] {
  height: 6px;
  width: 48px;
  margin-inline: 3px;
}

.carousel-inner {
  width: 64%;
  margin: 0 auto;
}

.carousel-item img {
  border-radius: 19px;
  border: 2px solid #18181C;
}

.carousel-caption {
  left: 0;
  text-align: left;
  margin-left: 55px;
  margin-bottom: 80px;
}

.biblioteca {
  margin-top: 10px;
  padding-left: 50px;
}
.biblioteca h2 {
  font-size: 28px;
  color: #EEEEEE;
}

.row {
  margin: 0 auto;
  align-items: center;
}

.jogoBanner {
  text-align: center;
  color: #EEEEEE;
  background: #18181C;
  margin: 10px;
}
.jogoBanner img {
  width: 55%;
  padding-bottom: 20px;
  margin-top: 30px;
  border-radius: 10px;
  transition: 400ms;
}
.jogoBanner img:hover {
  scale: 102%;
  transition: 400ms;
  box-shadow: #121212 0 0 30px;
}
.jogoBanner p {
  font-size: 26px;
}

.jogoDetalhes {
  padding: 5px;
}
.jogoDetalhes ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 33px;
}
.jogoDetalhes li {
  padding: 8px;
  display: inline-block;
  list-style: none;
}
.jogoDetalhes a {
  text-shadow: 0px 0px 0px #EEEEEE;
  text-decoration: none;
  padding: 13px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 13px;
  background: #06D001;
  box-shadow: #06D001 0 0 6px;
  color: #EEEEEE;
  transition: 300ms;
}
.jogoDetalhes a:hover {
  text-shadow: 0px 0px 22px #EEEEEE;
  padding: 16px;
  border-radius: 16px;
  background: #0fff0a;
  box-shadow: #0fff0a 0 0 16px;
  transition: 300ms;
}
.jogoDetalhes a svg {
  margin-bottom: 4px;
}

body {
  background: #121212;
  font-family: Ubuntu, Tahoma, Arial;
}

.erro img {
  margin-top: 100px;
  width: 62%;
  margin-bottom: 20px;
}
.erro a {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 18px;
  color: #EEEEEE;
  background: #6abcff;
  transition: 300ms;
}
.erro a:hover {
  padding: 24px;
  border-radius: 24px;
  letter-spacing: 0.2px;
  background: #EEEEEE;
  color: #6abcff;
  transition: 300ms;
}

.sobre {
  text-align: center;
  margin-top: 140px;
  color: #EEEEEE;
}
.sobre img {
  width: 45%;
  padding: 40px;
}
.sobre a {
  color: #6abcff;
}

.equipe {
  text-align: center;
  color: #EEEEEE;
}
.equipe h2 {
  margin-top: 40px;
}
.equipe a {
  color: #6abcff;
}
.equipe img[src="img/lucasBrasso.png"] {
  width: 40%;
}
.equipe img {
  width: 95%;
  border-radius: 100%;
  padding: 40px;
}

/*# sourceMappingURL=style.css.map */
