$primary: #090e27;
$secondary: #111933;
$clear: #86bcff;
$font: #EEEEEE;

* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, Tahoma, Arial;
}

.navbar {
    background: $secondary;
    .navbar-brand {
        color: $font;
        font-weight: bold;
    }
        .nav-item {
            color: $font;
            font-weight: bold;
            .nav-link {
                color: $font;
                    &:hover {
                        color: $clear;
                        transition: 200ms;
                    }
        }
        }
    }
    .navbar-toggler {
        color: $font;
        background-color: $clear;
    }
    